	/*------
	GENERAL ELEMENTS
	------*/
	html, body {
		font-family: 'Raleway', sans-serif;
		color: #244859;
		overflow-x: hidden;
	}

	a {
		outline: none;
		color: #fff;
	}

	a:hover {
		outline: none;
		color: #fff;
		text-decoration: none;
	}
	a:focus, a:visited {
		text-decoration: none;
		outline: none;
		color: #fff;
	}
	*:focus {
		outline:none;
	}
	.btn{
		text-transform: uppercase;
		padding: 10px 30px;
		border: 1px solid #fff;
		border-radius: 0;
		letter-spacing: 5px;
	}
	.btn:hover{
		background: #56B3DF;
	}
	.blue-btn{
		border: none;
		background: #56b3df;
		color: #fff;
	}
	.blue{
		color: #56B3DF;
	}












	/*------
	TOP PART
	------*/
	.container-top{
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		z-index: 9999;
		transition: 0.5s all ease;
	}
	.scrolled-top, .active-top{
		background: #56b3df;
		transition: 0.5s all ease;

	}
	.scrolled-top .top-wrap, .active-top .top-wrap {
		padding: 5px 0;
		transition: 0.5s all ease;
	}
	.top-wrap {
		padding: 25px 0;
		transition: 0.5s all ease;
	}
	.top-wrap .custom-container{
		position: relative;
	}
	.logo{
		display: inline-block;
		vertical-align: middle;
		transition: 0.5s all ease;
	}
	.logo img {
		width: 200px;
		transition: 0.5s all ease;
	}

	.scrolled-top .logo img, .active-top .logo img {
		transition: 0.5s all ease;
	}
	.scrolled-logo {
		display: none;
		transition: 0.5s all ease;
	}
	.scrolled-top .initial-logo, .active-top .initial-logo {
		display: none;
		transition: 0.5s all ease;
	}
	.scrolled-top .scrolled-logo, .active-top .scrolled-logo {
		display: block;
		transition: 0.5s all ease;
	}




	/*------
	FOOTER
	------*/
	.footer-wrapper {
		color: #fff;
		padding: 20px 15px;
		background: #244859;
	}
	.social-media a{
		margin-right: 5px;
		vertical-align: middle;
		font-size: 18px;
	}
	.social-media a:last-child{
		margin-right: 0;
	}


	/*------
	MAIN NAV
	------*/
	#main_nav {
		display: inline-block;
		position: absolute;
		right: 0;
		top: 16px;
		transition: 0.5s all ease;
	}
	.scrolled-top #main_nav, .active-top #main_nav{
		transition: 0.5s all ease;
		top: 8px;
	}
	ul#nav > li > a, ul#nav_mobile > li > a {
		color: #fff !important;
		font-size: 18px;
		padding: 0 15px;
	}

	ul#nav > li, ul#nav_mobile > li {

	}

	ul#nav > li > a:hover, ul#nav_mobile > li > a:hover {
		color: #244859 !important;
	}
	.special-btn{
		background: #244859;
		padding: 6px 12px;
		border-radius: 10px;
		transition: 0.3s all ease;
	}
	.special-btn:hover{
		background: #fff;
		transition: 0.3s all ease;
	}
	ul#nav .special-btn a:hover, ul#nav .special-btn:hover a{
		color: #56B3DF !important;
		transition: 0.3s all ease;
	}



	/*------
	CUSTOM ELEMENTS
	------*/

	.gray-bg{
		background: #f3f3f3;
	}

	.custom-container{
		width: 1140px;
		max-width: 100%;
		margin: 0 auto;
	}
	.pad{
		padding: 100px 0;
	}

	.banner{
		height: 100vh;
	}
	.home-banner{
		background: url('../images/banner.jpg') no-repeat center center / cover;
	}
	.anchor{
		position: absolute;
		bottom: 5%;
		left: 0;
		right: 0;
		text-align: center;
		font-size: 40px;
		line-height: 40px;
	}

	.home-banner .v-align{
		overflow: hidden;
	}
	.header-text {
		color: white;
		padding: 40px 0;
	}
	.header-text h2 {
		text-transform: uppercase;
		font-weight: 400;
		letter-spacing: 2px;
		font-size: 35px;
	}
	.header-2b img {
		width: 300px;
	}
	.home-banner .btn{
		margin-top: 20px;
	}

	#why-us .gray-bg {
		padding: 30px 0;
		min-height: 150px;
	}
	#why-us i{
		font-size: 50px;
		transition: 0.5s all ease;
		cursor: pointer;
	}
	#why-us p{
		font-size: 18px;
		margin: 10px 0 0;
		display: block;
		transition: 0.5s all ease;
	}
	#why-us .row > div:hover i{
		font-size: 70px;
		color: #56b3df;
		transform: rotate(-360deg);
	}
	#why-us .row > div:hover p{
		display: block;
		transition: 0.5s all ease;
		font-size: 0;
	}
	.choose-us-wraper {
		padding: 50px 0;
	}

	.devices img {
		margin-top: 65px;
		width: 450px;
	}

	.choose-us-title {
		padding-bottom: 50px;
	}

	.choose-us-title h2 {
		text-transform: uppercase;
		font-weight: 800;
		font-size: 30px;
		line-height: 37px;
		position: relative;
	}

	.choose-us-title h2::after {
		content: "";
		position: absolute;
		bottom: -12px;
		left: 0;
		width: 70px;
		height: 1px;
		background-color: #56B3DF;
	}

	.choose-us-title p {
		margin-top: 20px;
		font-size: 19px;
		line-height: 29px;
	}

	.choose-us-item {
		position: relative;
		padding-bottom: 4px;
		padding-left: 80px;
	}

	.choose-us-item div {
		position: absolute;
		top: 0;
		left: 0;
	}

	.choose-us-item div i {
		font-size: 55px;
		color: #56B3DF;
		transition: all 1s;
		-o-transition: all 1s;
		-webkit-transition: all 1s;
		-moz-transition: all 1s;
	}

	.choose-us-item h3{
		color:#343434;
		text-transform: uppercase;
		font-size: 20px;
		font-weight: 800;
	}

	.choose-us-item p{
		color: #727272;
		font-size: 15px;
	}
	.testimonials-wrapper {
		margin: 60px auto 0;
	}
	.testimonials_title {
		display: block;
		font-size: 45px;
		line-height: 55px;
		text-align: center;
		margin-bottom: 100px;
		font-weight: bold;
		position: relative;
	}
	.testimonials_title::after{
		content: "";
		position: absolute;
		bottom: -12px;
		left: 0;
		width: 70px;
		height: 1px;
		background-color: #56B3DF;
		margin: 0 auto;
		right: 0;
	}

	.testimonials-wrapper > div {
		background: #fff none repeat scroll 0 0;
		border-top: 1px solid #f8f8f8;
		box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
		padding: 40px 50px 50px;
		text-align: center;
		transition: all 0.3s ease 0s;
		display: inline-block;
		width: 31.3%;
		margin-right: 30px;
	}
	.testimonials-wrapper > div:last-child{
		margin-right: 0;
	}
	.testimonials-wrapper > div:hover{
		box-shadow: 0 22px 43px rgba(0, 0, 0, 0.15);
		transform: translateY(-10px);
	}
	.testimonials-wrapper div .img-wrapper {
		margin: -84px auto 30px;
		overflow: hidden;
	}
	.testimonials-wrapper div .img-wrapper img {
		height: 90px;
		width: 90px;
		border-radius: 50%;
	}
	.testimonial-info {
		border-color: #ccc;
		border-style: solid;
		border-width: 1px 0;
		line-height: 28px;
		padding: 20px 0;
	}
	.testimonial-name {
		margin-top: 30px;
		text-transform: uppercase;
	}
	.testimonial-name i.fas {
		border: 1px solid;
		border-radius: 23px;
		display: inline-block;
		margin-top: 15px;
		padding: 8px;
	}
	.testimonial-name > b {
		display: block;
		letter-spacing: 2px;
	}
	.testimonials-wrapper .btn{
		margin-top: 20px;
		font-size: 12px;
		padding: 6px 12px;
	}
	.order-section {
		background: url(../images/order-section.jpg);
		background-size: cover;
		background-size: no-repeat;
		background-position: center;
		min-height: 350px;
		position: relative;
		color: white;

	}
	.order-section .v-align{
		max-width: 100%;
		margin: 0 auto;
	}
	.v-align .row {
		display: flex;
		align-items: center;
	}
	.order-section span{
		color: white;
		font-weight: bold;
		font-size: 30px;
	}
	.order-section-title {
		width: 600px;
		margin: 0 auto;
		max-width: 100%;
	}
	.order-section-title h4 {
		text-transform: uppercase;
		font-weight: bold;
		letter-spacing: 2px;
		font-size: 49px;
		margin: 0;
		color: #56B3DF;
	}
	.order-section-title h6 {
		color: #244859;
		font-weight: 100;
		letter-spacing: 2px;
		font-size: 24px;
		margin: 0;
	}
	.order-section select {
		border: 1px solid #56b3df;
		border-width: 0 0 1px 0;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		background: transparent url("../images/arrow.png") no-repeat scroll 100% center;
		background-size: 15px auto;
		margin: 50px 0 50px 5px;
		color: #fff;
		font-weight: 900;
		font-size: 30px;
		line-height: 30px;
		padding: 0 0 10px;
		vertical-align: middle;
		width: 250px;
		color: #56B3DF;
		color: rgba(0,0,0,0);
		text-shadow: 0 0 0 #56B3DF;		
		outline: none;
	}
	.order-section select > option.small-select{
		font-size: 18px;
		line-height: 28px;
	}


	.overlay{
		display: none;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: rgba(0,0,0,0.75);
		z-index: 9999;
	}
	.alert {
		background: #fff none repeat scroll 0 0;
		border-radius: 5px;
		left: 0;
		margin: 0 auto;
		padding: 30px;
		position: fixed;
		right: 0;
		text-align: center;
		top: 10%;
		transition: all 0.3s ease 0s;
		width: 320px;
		z-index: 99999;
		transform: translateY(-500px);
		max-width: 100%;
		word-break: break-all;
	}
	.alert.hidden-alert{
		transform: translateY(-500px);
	}
	.alert.shown-alert{
		transform: translateY(0);
	}
	.close-alert {
		position: absolute;
		right: 10px;
		top: 5px;
		cursor: pointer;
	}
	.close-alert i {
		color: #56B3DF;
	}
	.contact-us > b{
		display: block;
		font-size: 45px;
		line-height: 55px;
	}
	.contact-us > span{
		font-size: 20px;
		line-height: 30px;
		margin-bottom: 50px;
		display: block;
	}
	.contact-us .element_label{
		display: block;
		margin-bottom: 10px;
	}
	.contact-us .element_label span{
		display: block;
		margin-bottom: 5px;
		color: #a6abad;
		font-size: 18px;
	}
	.contact-us .element_label input{
		height: 45px;
		border: none;
		width: 80%;
		padding: 6px 15px;
	}
	.contact-us textarea {
		display: block;
		min-height: 154px;
		margin: 32px 0 20px;
		border: none;
		width: 100%;
	}
	.contact-us .btn{
		width: 100%;
	}

	/*-- about --*/
	.about-banner{
		background: url(../images/about-us.jpg) no-repeat center center / cover;
	}
	.about-banner h2{
		font-weight: bold;
	}
	.about-banner p{
		width: 760px;
		max-width: 100%;
		margin: 0 auto;
		font-size: 24px;
		line-height: 34px;
		margin: 20px auto 0;
	}
	.team_member {
		min-height: 100vh;
	}
	.team_member > div {
		min-height: 100vh;
	}
	.team_member .v-align {
		padding: 0 100px;
	}
	.team_name {
		font-weight: bold;
		color: #56b3df;
		text-transform: capitalize;
		font-size: 35px;
		line-height: 45px;
	}
	.team_function{
		color: #56b3df;
		font-size: 25px;
		line-height: 30px;
	}
	.team_info {
		font-size: 18px;
		line-height: 24px;
		margin-top: 25px;
		width: 750px;
		max-width: 100%;
	}
	.team_photo {
		width: auto;
		height: 800px;
		position: absolute;
		bottom: 0;
	}

	.edge::before {
		content: "";
		position: absolute;
		top: 0;
		background: url(../images/edge-bg.png);
		width: 1000px;
		height: 100vh;
		background-size: cover;
		z-index: -2;
	}
	.edge-left::before {
		left: 0;
		-webkit-transform: scaleX(-1);
		transform: scaleX(-1);
	}
	.edge-right::before {
		right: 0;
	}
	.edge-left .team_photo {
		right: 0;
	}
	.edge-right .team_photo {
		left: 0;
	}
	/*-- order --*/
	.order-name {
		font-size: 30px;
		color: #56B3DF;
		font-weight: bold;
	}
	.order-form {
		overflow: hidden;
		margin-top: 50px;
	}
	.order-form > div {
		padding: 30px;
		display: inline-block;
		vertical-align: top;
		position: relative;
		width: 33%;
		opacity: 0;
	}
	.order-form > div.first-section {
		background: #e0e0e0;
		border-top: 3px solid #244859;
		z-index: 999;
		opacity: 1;
	}
	.order-form > div.second-section {
		border-top: 3px solid #56B3DF;
		background: #ececec;
		transition: 0.5s all ease;
		left: -400px;
		z-index: 500;
	}
	.order-form > div.third-section{
		border-top: 3px solid #6b6b6b;
		left: -400px;
		background: #f3f3f3;
	}

	#step-title{
		font-size: 18px;
		font-weight: 100;
		text-transform: uppercase;
		padding-bottom: 25px;
	}

	#step-title span{
		font-weight: 700;
	}
	.data{
		min-height: 350px;
	}
	.data input, .logo-info input, .step select{
		margin-bottom: 15px;
	}

	.logo-info textarea{
		min-height: 100px;
	}
	.step  input.inp, .logo-info textarea, .step  select{
		border-radius: 5px;
		border-style: none;
		padding: 7px 10px;
		text-align: left;
		font-size: 14px;
		width: 100%;
	}
	.step .row > div{
		padding: 0;
	}
	#check input {
		margin: 0;
	}
	.step .row .padding-left {
		padding-left: 15px;
	}
	.checkboxes input:nth-of-type(2){
		margin-left: 10px;
		margin-bottom: 0;
	}
	.order-btn{
		padding: 7px 10px;
		background: #56B3Df;
		border-radius: 5px;
		font-size: 13px;
	}
	.type-of-logo{
		text-align: center;
	}
	.type-of-logo span{
		display: block;
		text-align: left;
		margin-bottom: 10px;
	}
	.type-of-logo label {
		display: inline-block;
		width: 32.3%;
		margin-bottom: 5px;
	}
	.type-of-logo label > input{ 
		visibility: hidden; 
		position: absolute; 
		margin-bottom: 0;
	}
	.type-of-logo label > input + img{
		cursor:pointer;
		border:2px solid transparent;
	}
	.type-of-logo label > input:checked + img{ 
		border:2px solid #56B3DF;
		opacity: 0.9;
	}
	/*-- portfolio --*/
	.portfolio-banner{
		background: url(../images/portfolioheader.jpg) no-repeat center center / cover;
	}
	.banner_title {
		font-size: 140px;
		font-weight: 900;
		letter-spacing: 30px;
	}
	.portfolio-banner .row > div {
		padding: 0;
	}
	.projects-menu {
		margin: 100px 0;
	}
	.projects-menu > li {
		color: #7f7f7f;
		display: inline-block;
		font-weight: lighter;
		letter-spacing: 2px;
		padding: 3px 20px;
		transition: 0.8s all ease;
		cursor: pointer;
	}
	.projects-menu > a:hover, .projects-menu .active-btn{
		background: #56B3DF;
		color: #fff;
		transition: 0.8s all ease;
	}


	.projects-wrapper > div {
		display: inline-block;
		overflow: hidden;
		margin: 0 -2px;
		vertical-align: top;
		width: 33.4%;
		position: relative;
	}


	.open-project {
		background: #56B3DF none repeat scroll 0 0;
		bottom: 0;
		color: #fff;
		font-weight: bold;
		left: 0;
		position: absolute;
		right: 0;
		transform: translateY(60px);
		transition: 0.3s all ease;
		text-align: left;
	}

	.open-project > span {
		display: inline-block;
		padding: 18px;
	}
	.open-project > a {
		background: #f8f8f8 none repeat scroll 0 0;
		color: #111;
		float: right;
		height: 60px;
		text-align: center;
		width: 60px;
	}
	.open-project a i.fas {
		padding: 22px 0;
	}

	.projects-wrapper > div:hover .open-project{
		transform: translateY(0);
		transition: 0.3s all ease;
	}
	.projects-wrapper > div img {
		transition: all 0.3s ease 0s;
	}
	.projects-wrapper > div:hover img {
		transform: translateY(-60px);
		transition: all 0.3s ease 0s;
	}
	/*--  simple order page --*/
	.order-page {
    background: transparent;
    min-height: auto;
    margin: 158.5px 0;
}
	.order-page h1{
		color: #244859;
		font-size: 30px;
		line-height: 25px;
	}
	.order-page h6{
		font-size: 30px;
		line-height: 25px;
		color: #56B3DF;
		font-weight: bold;
	}
	.order-page span {
		color: #244859;
		   font-size: 45px;
		   vertical-align: middle;
	}

  .order-page .order-section select {
    margin: 100px 0;
    font-size: 45px;
    width: 400px;
}
.order-page .row > div:first-child {
    padding-left: 0;
}
.order-section .flex-control-nav{
	display: none;
}
	/*------
	RESPONSIVE CSS
	------ */
	@media screen and (-webkit-min-device-pixel-ratio:0){
.order-section select{
	padding-bottom: 10px;
}

	}
	@media (max-width: 1920px){
		.order-wrapper {
			padding-bottom: 74px;
		}
	}
	@media (max-width: 1440px){

	}
	@media (max-width: 1280px){

	}
	@media (max-width: 1024px){

	}
	@media (max-width: 991px){

	}
	@media (max-width: 980px){

	}
	@media (max-width: 860px){

	}
	@media (max-width: 768px){

	}
	@media (max-width: 767px){

	}
	@media (max-width: 640px){

	}

	@media (max-width: 480px){

	}
	@media (max-width: 320px){

	}
